*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.accueil{
    color: black;
    flex: auto;
    display: flex;
    justify-content: center;
    gap: 50px;text-decoration: none;
    font-size: large;
    
    
}

header{background-color: white; 
    text-align: center;
    
    position: sticky;
    top:0;
    z-index: 100;
    
    
}
.logo{ width: 50px; 
    display: flex;
    top: 100px;
    object-fit: cover;
    


} 

.preparation{
color: rgb(192, 14, 14);
}
  .icons{
    display: flex;
    gap: 10px;
color: rgb(119, 29, 29);

  }
.etap{ padding: 20px;

}
header input{

    width: 50%;
    border-radius: 25px;
}
.nav{ color: black;
    flex: auto;
    display: flex;
    justify-content: center;
    gap: 50px; 
   
    
    font-size: large;
   list-style: none;
    }

    .absolute{
        position: absolute;
        top: 20%;
        
        color: rgb(85, 67, 44);
        object-fit: cover;
        background-color: #f0ffff94;
        border-radius: 15px;
        padding: 15px;
        transform: translate(500px, -20%);
        
       
    }
.img1{height:400px;
    width: 100%;
    object-fit: cover;
}
.P1{
    color:rgb(85, 67, 44);
    font-size: larger;
    border-radius: 15px;
    padding:10px 25px  ;
    
}
article
    {
        color:rgb(85, 67, 44);
        
        border-radius: 15px;
        padding:10px 25px  ;
        background-color: #f0ffff94;
        margin: 20px;
    }
    .img2{
        width: 200px;
        height: 200px;
        
    }

.Recettes{
    text-decoration: none;
    list-style: none;
    color: rgb(85, 67, 44);
}
.flex{display: flex;
flex-wrap: wrap;

}
.between{
    justify-content: space-between;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    color:rgb(85, 67, 44);
    transition: background-color 0.6s ease;
    padding: 20px 74px;
    z-index: 10;
}
.bouton{
    color: rgb(85, 67, 44);
    text-decoration: none;
}
.BG6BLANC{
    background-color: #f0ffff94;
}
.button{
    border-radius: 20px;
    background-color:  #f0ffff94;
    padding: 10px;
    color: rgb(85, 67, 44);
    text-decoration: none;
    margin: 20px 10px;
   padding: 10px;
   display: inline-block;
}


#content{ 
    display: flex;
    width: 100%;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.card {
    width: 300px;
    margin-top: 32px;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 4px 4px 12px black;
    justify-content: center;
}
.card img{
    width: 100%;
    border-radius: 15px;
    height: 200px;

}
.card p{
    margin-top: 16px ;
    margin-bottom: 16px;
}
.section{
    display: flex;
}
#produits {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between;
}
.cliquer {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    background-color:  #f0ffff94;
    color: rgb(85, 67, 44);
    display: inline-block;
    border-radius: 20px;
  }
  h2{
    background-color:  #f0ffff94;
    color: rgb(85, 67, 44);
    display: inline-block;
    padding: 20px;
    width: 100%;
    text-align: center;
   margin-top: 32px;
  }
  .card1 {
    width: 300px;
    margin-top: 32px;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 4px 4px 12px black;
}

.card p{
    margin-top: 16px ;
    margin-bottom: 16px;
}
.section{
    display: flex;
}
#temoignage{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between;
   }
.container{
    max-width : 1000px;
    margin-left: auto;
    margin-right: auto;
}

    